/*---- ALL OF THE PAGES -----*/

/*The whole page*/
.wholePage {
  background-color: lavender;
  margin-bottom: 0;
  height: 100vh;
}

/*The title of the page*/
.title {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: xxx-large;
  color: indigo;
  -webkit-text-stroke: .5px royalblue;
  padding: 2rem;
  margin-top: 0;
}

/*Nav bar*/
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*The nav bar text*/
.navBar a {
  color: silver;
  font-size: large;
  -webkit-text-stroke: 1px lightcoral;
  text-decoration-line: none;
}

/*Title of each page*/
.pageTitle {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}

/*--------- MAP ---------*/

/*The map on the page*/
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/*------- Restaurant Pages ------- */

/*The info section below title of page*/
.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 2rem;
}

/* The info and map */
.wholeContainer {
  display: flex;
  padding: 2rem;
  justify-content: center;
}